.adminContainer {
    width: 100%;
    overflow-x: auto; 
  }
  
  .tableContainer {
    overflow-y: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  @media screen and (max-width: 600px) {
    .table {
      font-size: 12px;
    }
  }
  