.adminContainer {
    width: 100%;
    overflow-x: auto; 
  }
  
  .tableContainer {
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  .table th{
    font-size: 15px;
  }
  .table th,
  .table td {
    padding: 12px; 
    border: 1px solid #ddd;
    text-align: left;
    white-space: nowrap;
  }

  .page{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 600px) {
    .table {
      font-size: 12px;
    }
  }
  