.input {
    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 50px;
    text-align: center;
    font-size: 32px;
    margin-right: 5px;
    border-radius: 0;
    caret-color: transparent;
}
.div{
    display: grid;
    place-items: center;
    height: 100vh;
    background-image: linear-gradient(90deg, #00FEA8, #8A2BE2);
    animation: gradientAnimation 5s infinite alternate;
    background-size: 200% 100%;
}
.main1 {
    width: 90%;
    margin: 0 auto;
   
}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;

    }

    100% {
        background-position: 100% 50%;

    }
}
.main1 .heading {
    display: flex;
    justify-content: space-between;
}

.main1 .heading .logoContainer>img {
    width: 120px;
    height: 50px;
}

.heading .navigation {
    display: flex;
    align-items: center;
    gap: 10px;

}
.centerContent{
    margin: 100px 0 0 ;
}
.heading .navigation>img {
    width: 10%;
}
.centerContent .content>img{
    width: 80px;
    height: 100px;
}
.centerContent .content {
    display: flex;
    width: 60%;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.centerContent .content>p {
    text-align: center;
    color: white;
}

.formcontainer {
    width: 80%;
    gap: 25px;
    margin: 50px auto;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    justify-content: center;

}

.btn {
    text-align: center;
    margin-bottom: 30px;
}

.btn>button {
    background: black;
    color: white;
    height: 50px;
    font-size: 15px;
    padding: 12px;
    border-radius: 4px;
}

.content>h1 {
    font-weight: 600;
    text-align: center;
    font-size: 32px;
    text-decoration: solid;
    color: white;
    margin: 10px 0 20px;
}

.content p>.email {
    font-weight: 600;
}
.resend{
    text-align: center;
}
.resend p>.timer{
    margin-left: 3px;
    color: rgba(0, 254, 168, 1);
    font-weight: 600;
}
.resend p{
    font-weight: 600;
}
@media screen and (max-width:768px){
    .centerContent .content{
        width: 100%;
    }
    .formcontainer{
        width: 100%;
    }
    .input {
        width: 30px;
        font-size: 16px;
        font-weight: 600;
    }
}
@media screen and (max-width:600px) {
    .centerContent .content{
        width: 100%;
    }
    .formcontainer{
        width: 100%;
    }
    .input {
        width: 55px;
        height: 40px;
        font-weight: 600;
    }
}
@media screen and (max-width:400px){
    .content>h1{
        font-size: 20px;
        color: white;
    }
    .centerContent .content>p{
        font-size: 12px;
        color: white;
    }
    .input {
        width: 40px;
        font-weight: 600;
    }
}