.main1 {
    display: grid;
    place-items: center;
    height: 100vh;
    background-image: linear-gradient(90deg, #00FEA8, #8A2BE2);
    animation: gradientAnimation 5s infinite alternate;
    background-size: 200% 100%;
}

.container h2{
    color: white;
    text-align: center;
    font-size: 40px;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;

    }

    100% {
        background-position: 100% 50%;

    }
}

.container {
    width: 40%;
    margin: 0 auto;

    border-radius: 5px;
}

.form {
    display: flex;
    flex-direction: column;
}

.inputGroup {
    margin-top: 10px;

    /* flex-direction: column; */
    /* width: calc(50% - 20px); */
}

.inputGroup label {
    font-size: 13px;
    color: white;
    margin-bottom: 5px;
}

.inputGroup input {
    padding: 5px;
    height: 50px;
    font-size: 16px;
    border-radius: 5px;
    border: 5px solid rgba(242, 242, 242, 0.5);
    width: 100%;
    outline: none;
}

.inputGroup input::placeholder {
    font-size: 12px;
}
a{
    text-decoration: none;
    color: white;
}
.btn>button {
  height: 50px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.btn {
    margin-top: 20px;
    width: 100%;
}

.button:hover {
    background-color: #0056b3;
}
@media screen and (max-width:768px) {
    .container {
        width: 90%;
    }
}